.about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 50px 180px 24px;
}

.about__column-left-block {
  display: flex;
  justify-content: center;
  min-width: 334px;
  padding-top: 35px;
}

.about__column-right-block {
  margin-top: 134px;
  margin-left: 18px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: black;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  padding-bottom: 100px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  font-weight: 400;
  font-size: 20px;
}

.about__column-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
