.cover {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 179px;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
}

.cover__title {
  padding: 165px 50px 135px 50px;
}

.aligned-text,
.aligned-text_center,
.aligned-text_right {
  display: block;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  letter-spacing: 32px;
  text-transform: uppercase;
}

.aligned-text_center {
  padding-right: 25px;
  text-align: center;
}

.aligned-text_right {
  text-align: end;
}

.aligned-text_first-symbol {
  letter-spacing: 55px;
}

.aligned-text_without-letter-spacing {
  letter-spacing: 0;
}

.aligned-text_last-symbol {
  padding-left: 25px;
}

.cover__description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 50px 51px 78px;
}

.cover__description-text {
  align-self: center;
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 19px;
}

.bet-button {
  width: 256px;
  height: 51px;
  border: 1px solid #fff;
  color: #fff;
  font-family: inherit;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
}
