.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 88px 50px 88px 50px;
}

.footer__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__social-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__social-icon {
    width: 48px;
}
