.header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 92px 24px 92px 24px;
}

.header__links-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__logo {
    width: 148px;
    height: 105px;
}

.address {
    display: flex;
    flex-direction: column;
}
