.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 96px 0 91px 0;
}

.header .address {
  margin-right: 85px;
}

.header__menu {
  margin-left: 51px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 34px;
  list-style: circle;
}

.header__link {
  font-weight: 400;
  font-size: 18px;
  text-decoration-line: underline;
  text-decoration-thickness: from-font;
  text-underline-offset: 3.5px;
}

.header__link_active {
  text-decoration: none;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__logo {
  width: 148px;
  margin-right: 152px;
  padding: 0 5px 0 5px;
}
