.lots {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 24px 146px 24px;
}

.lots__heading {
  margin-bottom: 27px;
  padding-left: 40px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 25px;
  margin-bottom: 30px;
  list-style-type: none;
}

.lots__card-list-item {
  width: 334px;
  min-height: 563px;
}

.card-link {
  display: block;
  height: 100%;
}

.card {
  height: 100%;
}

.card div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 51px 40px 48px 40px;
}

.card_type_film,
.card_type_book,
.card_type_picture {
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  text-decoration-line: underline;
  text-decoration-thickness: from-font;
  text-underline-offset: 3.5px;
  text-transform: uppercase;
}

.card__text {
  color: #fff;
  font-weight: 400;
  font-size: 20px;
}

.lots__look-more-link {
  padding-left: 40px;
  font-size: 20px;
}
