
.lots {
    display: flex;
    flex-direction: column;
}

.lots__heading {
    font-size: 40px;
}

.lots__card-list {
    display: flex;
    flex-direction: row;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card__title {
    color: #fff;
}

.card__text {
    color: #fff;
}

.lots__look-more-link {
    font-size: 20px;
}
