/* all other styles in other files: footer.css, cover_section.css .... etc. */

.address a {
  text-decoration-line: underline;
  text-decoration-thickness: from-font;
  text-underline-offset: 3.5px;
  font-size: 18px;
  font-weight: 400;
}

.header__address,
.footer__address {
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
}

.overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
  height: 100%;
}
